.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


input[type=text]{  
    width: 100%;
    box-sizing: border-box;
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
    font-weight: 500;
    font-size: 1.1rem;
    color: darkgray;
    border: none;
    background: white;
    transition: all 0.15s ease-in-out;
    border-radius: 2px;
    padding: 12px 50px;  
    margin: 8px 0;  
    display: inline-block;  
}  
  
      
.add-task-form{ 
    position: relative; 
} 
  
.add-task-form i{ 
    position: absolute; 
    left: 25px; 
    top: 22px; 
    color: gray; 
}
.add-task-form Button[type=submit]{
  position: relative; 
  top: 6px; 
  left: -25px;
  height: 80%;
}

.fontedit { 
  position: relative; 
} 

.fontedit i{ 
  position: absolute; 
  left: 30px; 
  top: 20px; 
  color: gray; 
} 

.edit-confirm-btn{
  position: relative; 
  top:6px;
  height: 40px;
  left: -25px;
  background-color: white; /* Green */
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.input-edit{  
  width: 100%;  
  padding: 8px 35px;  
  margin: 8px 0;  
  display: inline-block;  
  border: 1px solid #ccc;  
  box-sizing: border-box;  
}  

.display-task{
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: white;
  transition: all 0.15s ease-in-out;
  border-radius: 2px;
  text-align: left;
  padding: 6px 6px 8px 10px;
}

.task-text{
  padding: 6px 6px 8px 25px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: rgb(87, 86, 86);
  
}

.task-text-completed{
  padding: 6px 6px 8px 25px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: 1px;
  color: rgb(87, 86, 86);
  text-decoration: line-through;
}

.modal-style{
  position: fixed;
    margin: auto;
    width: 310px;
    height: 100%;
    top:-1px;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    overflow-y: auto;
    border-radius: 0px;
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
    right: 0;
}

.modal-style .modal-body{
  padding: 0px 15px 15px 0px;
}

h4{
  font-family: Verdana, Geneva, sans-serif;
  text-align:left;
  padding:50px 0px 20px 0px;
}

.jumbotron {
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #262158;
  color: floralwhite; 
}

  .container-body{
  padding-top: 100px;
  }